
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>

    <h1><p class="fancy"><%= passive_aggressive %></p></h1>

    <%= link_to 'Create a Pairing (if you can..)', new_post_path %>

  </body>
</html>
