<h1>Recent Wine Pairings:</h1>


<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<%= column_chart({"Pretentious Pairing#1"=>1, "THIS IS BOB'S CONTENT!"=>1} ) %>


<h1>Recent Wine Regions:</h1>
<%= column_chart({"Argentina"=>1, "Jersey"=>1} ) %>


<h1>The Popular Cheese Platter</h1>
<%= column_chart({"Brie"=>1, "chechechecheddar!"=>1}) %>
